.section-cards {
    overflow: auto; 
    height: 100vh;
}
.card:hover{
    cursor: pointer;
}

.card:hover{
    color: #37a8a7;
}

#section-cards{
    width: 70%;
    float: left;
}

.card{
    float: none;
    margin: auto;
}